/* Footer css starts here */
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* Footer css ends here */
/* Header css starts here */

header {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  z-index: 10;
  background-color: black;
  border-bottom: 1px solid seashell;
  padding: 0px;
  margin: 0px;
  justify-content: space-between;
}
nav {
  display: flex;
  width: 100%;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
}

/* Header css ends here */
/* Text css starts here */

.details {
  text-align: center;
}

.locations_container h2 {
  font-family: helvetica;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: seashell;
  font-size: 33px;
}

.locations_container h3, .locations_container p {
  font-family: helvetica;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: seashell;
}

.locations_container h3 {
  font-size: 25.74px;
}

.locations_container p {
  font-size: 22px;
}

.header_hyperlinks {
  text-decoration: underline;
  padding: 0px 15px;
  font-size: 22px;
  font-family: helvetica;
  color: seashell;
  text-decoration: underline;
}

#mission h2, #mission h4 {
font-family: helvetica;
padding: 0px;
margin: 10px 0px;
font-weight: 700;
text-align: center;
color: seashell;
width: inherit;
}

#mission h4 {
font-size: 22px;
}

#mission h2 {
  font-size: 33px;
}

#mission_caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: auto;
  background-color: black;
  width: inherit;
}

footer h2, footer h5 {
  color: seashell;
}

footer h2 {
  font-size: 33px;
  font-weight: 700;
}

footer h5 {
  font-size: 18.26px;
}

.first_layer h4, .second_layer h4 {
  color: seashell;
  font-size: 22px;
  font-family: helvetica;
  text-align: center;
  display: block;
  padding: 0px;
  margin: 0px;
}

.copyright p {
  text-align: left;
}
/* Text css ends here */
/* General body css starts herer */

.copyright {
  width: 100%;
  display: flex;
align-items: left;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#mission {
  background-image: url("../../resources/images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 70px;
}

.downtown {
 width: 300px; opacity: 1;
}

.east_bayside {
  width: 300px; opacity: 1;
}

.oakdale {
  width: 300px; opacity: 1;
}

.locations_container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 1200px;
  padding: 0px;
  justify-content: center;
  align-items: center;
}

.locations {
  display: flex;
  flex-direction: row;
  width: 920px;
  justify-content: center;
  align-items: center;
}

.address {
  margin: 5px 10px;
  background-color: black;
  padding: 15px 5px;
  height: 230px;
  width: 270px;
}

.first_layer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.second_layer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.berry {
display: flex;
flex-direction: column;
padding: 5px;
}

.spice {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.donut {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.myrtle {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.bizzare {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

/* General body css ends here */
/* Image css starts here */

.tea_of_the_month_images {
  width: 300px;
  height: 200px;
  margin: 10px;

}

.locations_container {
  background-image: url("../../resources/images/img-locations-background.jpg");
}
/* Image css ends here */
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
